* {
    margin: 0;
    padding: 0;
    font-family: consolas;
    box-sizing: border-box;
}

.first-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('./back2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 80rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card {
    position: relative;
    width: 26rem;
    height: 25rem;
}

.container .card .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.container .card .face.face1 {
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;
}

.container .card .face.face1 img {
    max-width: 11rem;
}

.container .card .face.face1 h3 {
    margin: 0.625rem 0 0;
    color: #fff;
    text-align: center;
    font-size: 2em;
}

.container .card:hover .face.face1 {
    transform: translateY(-100%) rotateX(90deg);
    background: #f03902;
}

.container .card .face.face2 {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
}

.container .card:hover .face.face2 {
    transform: translateY(0) rotateX(0deg);
}

.second-div {
    min-height: 80vh;
    background-image: url('./introback1.png');
}

.third-div {
    min-height: 100vh;
    background-image: url('./Immagine_centrata.png');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75rem;
    flex-wrap: wrap;
    z-index: 1;
    margin-right: 10%;
}

.container2 .card2 {
    position: relative;
    width: 17.5rem;
    height: 25rem;
    box-shadow: 1.25rem 1.25rem 3.125rem rgba(0, 0, 0, 0.5);
    border-radius: 0.938rem;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.063rem solid rgba(255, 255, 255, 0.5);
    border-left: 0.063rem solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.313rem);
}

.container2 .card2 .content {
    padding: 1.25rem;
    text-align: center;
    transform: translateY(6.25rem);
    opacity: 0;
    transition: 0.5s;
}

.container2 .card2:hover .content {
    transform: translateY(0rem);
    opacity: 1;
}

.container2 .card2 .content h1 {
    position: absolute;
    top: -4rem;
    right: 1.875rem;
    font-size: 5em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container2 .card2 .content h2 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.container2 .card2 .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    margin-bottom: 1rem;
}

.warning {
    color: red;
    font-weight: bold;
    font-size: 1.3em;
}

a {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 0.625rem 1.875rem;
    transition: 0.5s;
}

a:hover {
    letter-spacing: 0.25em;
}

a::before {
    content: '';
    position: absolute;
    inset: 0.125rem;
    background: #27282c;
}

a span {
    position: relative;
    z-index: 1;
}